In [1]:
# Todas las importaciones
import pandas as pd
from sklearn.linear_model import LinearRegression

In [2]:
df = pd.read_csv("HousePrices_HalfMil.csv")
df.head()

,Area,Garage,FirePlace,Baths,White Marble,Black Marble,Indian Marble,Floors,City,Solar,Electric,Fiber,Glass Doors,Swiming Pool,Garden,Prices
0,164,2,0,2,0,1,0,0,3,1,1,1,1,0,0,43800
1,84,2,0,4,0,0,1,1,2,0,0,0,1,1,1,37550
2,190,2,4,4,1,0,0,0,2,0,0,1,0,0,0,49500
3,75,2,4,4,0,0,1,1,1,1,1,1,1,1,1,50075
4,148,1,4,2,1,0,0,1,2,1,0,0,1,1,1,52400

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500000 entries, 0 to 499999
Data columns (total 16 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Area           500000 non-null  int64
 1   Garage         500000 non-null  int64
 2   FirePlace      500000 non-null  int64
 3   Baths          500000 non-null  int64
 4   White Marble   500000 non-null  int64
 5   Black Marble   500000 non-null  int64
 6   Indian Marble  500000 non-null  int64
 7   Floors         500000 non-null  int64
 8   City           500000 non-null  int64
 9   Solar          500000 non-null  int64
 10  Electric       500000 non-null  int64
 11  Fiber          500000 non-null  int64
 12  Glass Doors    500000 non-null  int64
 13  Swiming Pool   500000 non-null  int64
 14  Garden         500000 non-null  int64
 15  Prices         500000 non-null  int64
dtypes: int64(16)
memory usage: 61.0 MB

In [4]:
y = df['Prices']
y.head()

0    43800
1    37550
2    49500
3    50075
4    52400
Name: Prices, dtype: int64

In [5]:
X = df.drop('Prices', axis=1)
X.head()

,Area,Garage,FirePlace,Baths,White Marble,Black Marble,Indian Marble,Floors,City,Solar,Electric,Fiber,Glass Doors,Swiming Pool,Garden
0,164,2,0,2,0,1,0,0,3,1,1,1,1,0,0
1,84,2,0,4,0,0,1,1,2,0,0,0,1,1,1
2,190,2,4,4,1,0,0,0,2,0,0,1,0,0,0
3,75,2,4,4,0,0,1,1,1,1,1,1,1,1,1
4,148,1,4,2,1,0,0,1,2,1,0,0,1,1,1

In [6]:
model = LinearRegression()
model.fit(X, y)

LinearRegression()

In [7]:
coefficients = model.coef_ # Obtiene las pendientes del modelo, una para cada columna
intercept = model.intercept_ # Obtiene la ordenada en el origen
coefficients, intercept

(array([ 2.50000000e+01,  1.50000000e+03,  7.50000000e+02,  1.25000000e+03,
         7.66666667e+03, -1.33333333e+03, -6.33333333e+03,  1.50000000e+04,
         3.50000000e+03,  2.50000000e+02,  1.25000000e+03,  1.17500000e+04,
         4.45000000e+03, -1.15168253e-13,  4.96152198e-12]),
 7333.333333333023)

In [8]:
# Como las pendientes de Swiming Pool y Garden son despreciables, se vuelven a calcular las pendientes y la ordenada en el origen
X = df.drop(['Swiming Pool', 'Garden', 'Prices'], axis=1)
X.head()

,Area,Garage,FirePlace,Baths,White Marble,Black Marble,Indian Marble,Floors,City,Solar,Electric,Fiber,Glass Doors
0,164,2,0,2,0,1,0,0,3,1,1,1,1
1,84,2,0,4,0,0,1,1,2,0,0,0,1
2,190,2,4,4,1,0,0,0,2,0,0,1,0
3,75,2,4,4,0,0,1,1,1,1,1,1,1
4,148,1,4,2,1,0,0,1,2,1,0,0,1

In [9]:
model = LinearRegression()
model.fit(X, y)
coefficients = model.coef_ # Obtiene las pendientes del modelo, una para cada columna
intercept = model.intercept_ # Obtiene la ordenada en el origen
coefficients, intercept

(array([   25.        ,  1500.        ,   750.        ,  1250.        ,
         7666.66666667, -1333.33333333, -6333.33333333, 15000.        ,
         3500.        ,   250.        ,  1250.        , 11750.        ,
         4450.        ]),
 7333.333333333045)

In [10]:
def pendiente(valores_x):
    pendiente_general = 0
    for coef, x in zip(coefficients, valores_x):
        pendiente_general += coef*x
    return pendiente_general

def precio_teorico(fila):
    return int(pendiente(fila) + intercept)