In [1]:
# Importar pandas
import pandas as pd

# Crear el DataFrame
df = pd.DataFrame({
    "nombre": ["Ana", "Luis", "Pedro", "Eva", "Carlos", "Marta", "Juan", "Sara"],
    "edad": [18, 20, 19, 21, 22, 18, 23, 19],
    "color": ["rojo", "azul", "verde", "amarillo", "rojo", "azul", "verde", "amarillo"],
    "puntos": [10, 8, 9, 7, 6, 5, 4, 3]
})

In [2]:
df

   nombre  edad     color  puntos
0     Ana    18      rojo      10
1    Luis    20      azul       8
2   Pedro    19     verde       9
3     Eva    21  amarillo       7
4  Carlos    22      rojo       6
5   Marta    18      azul       5
6    Juan    23     verde       4
7    Sara    19  amarillo       3

In [28]:
# Filtrar las filas donde la edad est√© entre 19 y 22 y el color sea "rojo" o "verde"
resultado = df[(df['edad'].between(19, 22)) & (df['color'].isin(["rojo", "verde"]))]

# Mostrar el resultado
print(resultado)

   nombre  edad  color  puntos
2   Pedro    19  verde       9
4  Carlos    22   rojo       6

In [39]:
df_filtrado = df.query("edad >= 19 and edad <= 22 and color in ['rojo', 'verde']")
df_filtrado

   nombre  edad  color  puntos
2   Pedro    19  verde       9
4  Carlos    22   rojo       6