In [1]:
import pandas as pd
df = pd.read_csv("titanic3.csv")
df

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29,0,0,24160,"211,3375",B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,"0,9167",1,2,113781,"151,5500",C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2,1,2,113781,"151,5500",C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30,1,2,113781,"151,5500",C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25,1,2,113781,"151,5500",C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,3,0,"Zabour, Miss. Hileni",female,"14,5",1,0,2665,"14,4542",NaN,C,NaN,328.0,NaN
1305,3,0,"Zabour, Miss. Thamine",female,NaN,1,0,2665,"14,4542",NaN,C,NaN,NaN,NaN
1306,3,0,"Zakarian, Mr. Mapriededer",male,"26,5",0,0,2656,"7,2250",NaN,C,NaN,304.0,NaN
1307,3,0,"Zakarian, Mr. Ortin",male,27,0,0,2670,"7,2250",NaN,C,NaN,NaN,NaN
1308,3,0,"Zimmerman, Mr. Leo",male,29,0,0,315082,"7,8750",NaN,S,NaN,NaN,NaN

In [38]:
df['age'] = df["age"].replace({",": "."}, regex=True).astype(float)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   pclass     1309 non-null   int64
 1   survived   1309 non-null   int64
 2   name       1309 non-null   object
 3   sex        1309 non-null   object
 4   age        1001 non-null   float64
 5   sibsp      1309 non-null   int64
 6   parch      1309 non-null   int64
 7   ticket     1309 non-null   object
 8   fare       1308 non-null   object
 9   cabin      295 non-null    object
 10  embarked   1307 non-null   object
 11  boat       486 non-null    object
 12  body       121 non-null    float64
 13  home.dest  745 non-null    object
dtypes: float64(2), int64(4), object(8)
memory usage: 143.3+ KB

Â¿CuÃ¡l es la edad promedio de los pasajeros que sobrevivieron, agrupados por clase?

In [39]:
df.groupby('pclass')['age'].mean()

pclass
1    39.335714
2    29.952569
3    24.756410
Name: age, dtype: float64

Â¿CuÃ¡l es la edad promedio de los pasajeros que murieron, agrupados por clase?

In [40]:
df.loc[df['survived'] == 0].groupby('pclass')['age'].mean()

pclass
1    43.480000
2    33.251748
3    25.664723
Name: age, dtype: float64

Â¿CuÃ¡l es la diferencia de edad promedio entre los pasajeros que sobrevivieron y los que murieron, agrupados por clase?

In [41]:
abs(df.loc[df['survived'] == 1].groupby('pclass')['age'].mean() - df.loc[df['survived'] == 0].groupby('pclass')['age'].mean())

pclass
1    6.446667
2    7.588112
3    3.400723
Name: age, dtype: float64

Â¿CuÃ¡l es la tasa de supervivencia de los pasajeros de primera clase, agrupados por sexo?

In [55]:
df.loc[df['pclass'] == 1].groupby('sex')['survived'].mean()

sex
female    0.965278
male      0.340782
Name: survived, dtype: float64

Â¿CuÃ¡l es la tasa de supervivencia de los pasajeros de segunda clase, agrupados por sexo?

In [57]:
df.loc[df['pclass'] == 2].groupby('sex')['survived'].mean()

sex
female    0.886792
male      0.146199
Name: survived, dtype: float64

Â¿CuÃ¡l es la tasa de supervivencia de los pasajeros de tercera clase, agrupados por sexo?

In [58]:
df.loc[df['pclass'] == 3].groupby('sex')['survived'].mean()

sex
female    0.490741
male      0.152130
Name: survived, dtype: float64

Â¿CuÃ¡l es la tasa de supervivencia de los pasajeros masculinos, agrupados por edad?

In [60]:
df.loc[df['sex'] == 'male'].groupby('age')['survived'].mean()

age
1.0     0.6
2.0     0.4
3.0     1.0
4.0     0.4
5.0     0.0
       ...
67.0    0.0
70.0    0.0
71.0    0.0
74.0    0.0
80.0    1.0
Name: survived, Length: 71, dtype: float64

Â¿CuÃ¡l es la tasa de supervivencia de las pasajeras femeninas, agrupadas por edad?

In [61]:
df.loc[df['sex'] == 'female'].groupby('age')['survived'].mean()

age
1.0     0.800000
2.0     0.285714
3.0     0.333333
4.0     1.000000
5.0     1.000000
          ...
60.0    0.750000
62.0    1.000000
63.0    0.666667
64.0    1.000000
76.0    1.000000
Name: survived, Length: 63, dtype: float64